:root {
    --dark-article-bg-color: #404040;
    --dark-article-color: #b4ffeb;
    --dark-post-entry-bg-color: #404040;
    --dark-post-entry-hover-bg-color: #525252;
    --dark-post-entry-color: #b4ffeb;
    --dark-main-bg-color: #1f1f1f;
    --dark-main-color: #1dbc91;
    --dark-alt-bg-color: #1c1c1c;
    --dark-button-bg-color: #1dbc91;
    --dark-button-color: #1f1f1f;
    --dark-note-color: #d8d8d8;

    --minato-article-bg-color: #cac1ec;
    --minato-article-color: #df658a;
    --minato-post-entry-bg-color: #cac1ec;
    --minato-post-entry-hover-bg-color: #b5a7e5;
    --minato-post-entry-color: #df658a;
    --minato-main-bg-color: #f5e8f1;
    --minato-main-color: #df658a;
    --minato-alt-bg-color: #eac7df;
    --minato-button-bg-color: #df658a;
    --minato-button-color: #f5e8f1;
    --minato-note-color: #b493d3;

    --pandaneko-article-bg-color: #d4d4d4;
    --pandaneko-article-color: #9dc3df;
    --pandaneko-post-entry-bg-color: #d4d4d4;
    --pandaneko-post-entry-hover-bg-color: #e1e1e1;
    --pandaneko-post-entry-color: #9dc3df;
    --pandaneko-main-bg-color: #e0dddf;
    --pandaneko-main-color: #9dc3df;
    --pandaneko-alt-bg-color: #4b4b4b;
    --pandaneko-button-bg-color: #9dc3df;
    --pandaneko-button-color: #e0dddf;
    --pandaneko-note-color: #6c7070;
}